﻿@using PagedList;
@using PagedList.Mvc;

@{
    var pagedListObj = (PagedList<BECIT.NEOS.Admin.Models.UserModel>)ViewBag.pagedListObj;
}


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                User ID
            </th>
            <th>
                Title
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Last Login
            </th>
            <th>
                User Role
            </th>
            <th>
                Tools
            </th>
        </tr>
    </thead>
    <tbody>
        @{
    int i = 0;
        }
        @foreach (var item in pagedListObj)
        {
            i++;

            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.USERID
                </td>
                <td>
                    @item.TITLE
                </td>
                <td>
                    @item.FNAME
                </td>
                <td>
                    @item.LNAME
                </td>
                <td>
                    @item.LASTLOGIN
                </td>
                <td>
                    @item.APPUSERROLEDesc
                </td>
                <td>
                    <a class="btn default btn-xs purple" href="@Url.Action("InputForm", new { id = item.USERID})"><li class=" fa fa-edit"> Edit</li></a>
                </td>
            </tr>
        }

    </tbody>
</table>
<div id="Paging">
    @Html.PagedListPager(pagedListObj, page => Url.Action("index", new { page }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "updatePanel" }))
</div>