﻿@using PagedList;
@using PagedList.Mvc;

@model PagedList<BECIT.NEOS.Admin.Models.UserModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<h2>User List</h2>

<div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->

    <div style="right">
        <a href="@Url.Action("InputForm")" class="button">Create new user</a>
    </div>

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Simple Table
            </div>
            <div class="tools">
                <a title="" class="collapse" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="config" href="#portlet-config" data-original-title="" data-toggle="modal">
                </a>
                <a title="" class="reload" href="javascript:;" data-original-title="">
                </a>
                <a title="" class="remove" href="javascript:;" data-original-title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable">
                <form method="post">
                    <input type="text" name="keyword" placeholder=" Name or User ID" value="@ViewBag.keyword" />
                    <input type="submit" value="Search" />
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                User ID
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Last Login
                            </th>
                            <th>
                                User Role
                            </th>
                            <th>
                                Tools
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            i++;

                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @item.USERID
                                </td>
                                <td>
                                    @item.TITLE
                                </td>
                                <td>
                                    @item.FNAME
                                </td>
                                <td>
                                    @item.LNAME
                                </td>
                                <td>
                                    @item.LASTLOGIN
                                </td>
                                <td>
                                    @item.APPUSERROLEDesc
                                </td>
                                <td>
                                   <a class="btn default btn-xs purple" href="@Url.Action("InputForm", new { id = item.USERID})"><li class=" fa fa-edit"> Edit</li></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div id="Paging">
                    @Html.PagedListPager(Model, page => Url.Action("index", new { page }))
                </div>
            </div>
        </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
