﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UserReport.aspx.cs" Inherits="BECIT.NEOS.Admin.ASPX.UserReport" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>

        User ID <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label><br />
        Fname <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label><br />
        Lname <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label><br />
        Last Logon From <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label><br />
        Last Logon To <asp:Label ID="Label5" runat="server" Text="Label"></asp:Label><br />

        <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%">
        </rsweb:ReportViewer>
    </form>
</body>
</html>




