﻿
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
            <h4 class="modal-title">User Profile</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">

                    <p>
                        User Id: 
                    </p>
                    <p>
                        Title: 
                    </p>
                    <p>
                        Fname: 
                    </p>
                    <p>
                        Lname: 
                    </p>
                    <p>
                        Email: 
                    </p>
                </div>
                <div class="col-md-10">

                    <p>
                        <input class="col-md-12 form-control" type="text" value="@ViewBag.userid">
                    </p>
                    <p>
                        <input class="col-md-12 form-control" type="text" value="@ViewBag.title">
                    </p>
                    <p>
                        <input class="col-md-12 form-control" type="text" value="@ViewBag.fname">
                    </p>
                    <p>
                        <input class="col-md-12 form-control" type="text" value="@ViewBag.lname">
                    </p>
                    <p>
                        <input class="col-md-12 form-control" type="text" value="@ViewBag.email">
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn default" type="button" data-dismiss="modal">Close</button>
            <button class="btn blue" type="button">Save changes</button>
        </div>
    </div>

