﻿@model BECIT.NEOS.Admin.Models.RegisterModel

@{
    ViewBag.Title = "Register2";
    Layout = "~/Views/_Share/Layout.cshtml";
}

<style>
    .input-green {
        border:solid 1px #00ff21;
    }
</style>


<h2>Register2</h2>
@using (Html.BeginForm())
{
    <span>Fname</span> @Html.TextBoxFor(x => x.fname, new { @class="input-green"}) <br /> // x โดยที่ x = x.fname
    <span>Lname</span> @Html.TextBoxFor(x => x.lname) <br /> // x โดยที่ x = x.lname
    <span>Email</span> @Html.TextBoxFor(x => x.email) <br /> // x โดยที่ x = x.email
    <button type="submit" value="Submit "></button>
}


<form method="post">
    Fname<input type="text" name="fname" value="@Model.fname" /><br />
    Lname<input type="text" name="lname" value="@Model.lname" /><br />
    Email<input type="text" name="email" value="@Model.email" /><br />
    <button type="submit" value="Submit"></button>
</form>


@section script{
    
    }