﻿@{
    var currentUser = (BECIT.NEOS.Admin.Models.CurrentUserModel)Session["CurrentUser"];

    var currentAppModuleCode = ViewBag.CurrentAppModuleCode == null ? "" : ViewBag.CurrentAppModuleCode;

}

<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>

            <li class="@(currentAppModuleCode=="DASHBOARD" ? "active" : "")">
                <a href="@Url.Action("Index","Home")">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
            </li>

            @{
                var mainMenus = currentUser.AppModule.Where(x => x.AppModuleCode == "" || x.AppModuleCode == null).OrderBy(x => x.ItemOrder);
                foreach (var mainMenu in mainMenus)
                {
                    var subMenus = currentUser.AppModule.Where(x => x.AppModuleCode == mainMenu.Code).OrderBy(x => x.ItemOrder);
                    var activeSubMenu = subMenus.Where(x => x.Code == currentAppModuleCode).FirstOrDefault();

                    <li class="@(activeSubMenu != null && activeSubMenu.AppModuleCode == mainMenu.Code ? "active open" : "")">
                        <a href="javascript:;">
                            <i class="@mainMenu.Icon"></i>
                            <span class="title">@mainMenu.ModuleName</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            @{
                    foreach (var subMenu in subMenus)
                    {
                        <li class="@(subMenu.Code == currentAppModuleCode ? "active" : "")">
                            <a href="@Url.Action(subMenu.ActionName, subMenu.ControllerName)">
                                <i class="@subMenu.Icon"></i>
                                @subMenu.ModuleName
                            </a>
                        </li>
                    }
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>